/**
 * 定义icon,image 的基本样式
 */
:root {
	/* --icon-pin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c.6 0 1 .4 1 1v7h1l2.4-4c.3-.6 1-.7 1.4-.4.5.3.7 1 .4 1.5L16 9l5 5v1h-7v7h-1l-5-5-3.9 2.6c-.5.3-1.1.2-1.4-.3-.3-.5-.2-1.1.3-1.4L8 13l-4-5.3c-.3-.5-.2-1.2.3-1.5.5-.3 1.2-.2 1.5.3L10 9V1c0-.6.4-1 1-1z'/%3E%3C/svg%3E"); */

	/* --icon-pencil: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M17.25 2.08a1.5 1.5 0 0 1 2.12 0l2.55 2.55a1.5 1.5 0 0 1 0 2.12l-2.34 2.34-4.67-4.67L17.25 2.08zM13.89 4.89l4.67 4.67L7.5 20.61H2v-5.5L13.89 4.89z'/%3E%3C/svg%3E"); */
	/* --icon-clip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M16.5 3.5a5.002 5.002 0 0 1 3.536 8.536L10.828 21.244a7 7 0 0 1-9.9-9.9L12.121.15a1 1 0 1 1 1.415 1.414L2.343 12.757a5 5 0 1 0 7.07 7.071l9.207-9.207a3 3 0 1 0-4.243-4.243L5.464 16.464a1 1 0 1 1-1.414-1.414L16.5 3.5z'/%3E%3C/svg%3E"); */
	/* --icon-book:   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'><rect x='3' y='3' width='14' height='18' rx='2' fill='%23F5F5F5' stroke='%23BDBDBD' stroke-width='1.5'/><line x1='6' y1='6' x2='14' y2='6' stroke='%239E9E9E' stroke-width='1'/><line x1='6' y1='9' x2='14' y2='9' stroke='%239E9E9E' stroke-width='1'/><line x1='6' y1='12' x2='14' y2='12' stroke='%239E9E9E' stroke-width='1'/><path d='M17.5 4.5L19.5 6.5L9 17L6 17L6 14L17.5 4.5Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='1'/><path d='M6 17L6.5 18L7.5 18.5L9 17H6Z' fill='%23795548'/><circle cx='18.5' cy='5.5' r='1' fill='%23E91E63'/></svg>"); */
	/* --bg-img-student: linear-gradient(transparent 29px, #ddd 30px), */




	--icon-pin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 42'%3E%3Cpath fill='%23ff4444' d='M16 1C9 1 3 7 3 14c0 10 11 21 13 21s13-11 13-21c0-7-6-13-13-13zm0 20a7 7 0 1 1 0-14 7 7 0 0 1 0 14z'/%3E%3C/svg%3E");
	
}
