/**
 * 定义微信文章标题的基本样式
 */

:root {
	--heading-font-family: var(--article-font-family);
	--heading-font-weight: 600;
	--heading-color: var(--article-text-color);
	--heading-line-height: 1.5;
	--heading-letter-spacing: var(--article-letter-space);
	--heading-text-align: var(--article-text-align);
	--heading-font-style: normal;
	--heading-margin: 1rem 0;
	--heading-text-decoration-style: none;
	--heading-text-decoration-thickness: 0;
	--heading-text-decoration-color: transparent; 
	--heading-radius: var(--one2mp-radius);
	--heading-border-bottom-width: 0;
	--heading-border-bottom-style: none;
	--heading-border-bottom-color: transparent;
	--heading-padding: 0;
	--heading-display: flex;
	--heading-tail-display: none;
	--heading-tail-content: " ";
	--heading-tail-shadow-color: rgb(239, 235, 233);
	--heading-tail-shadow-height: 0;
	--heading-tail-shadow-width: 0;
	
}

/* 标题 */
.one2mp h1,
.one2mp h2,
.one2mp h3,
.one2mp h4,
.one2mp h5,
.one2mp h6 {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	color: var(--heading-color);
	line-height: var(--heading-line-height);
	letter-spacing: var(--heading-letter-spacing);
	text-align: var(--heading-text-align);
	font-style: var(--heading-font-style);
	margin: var(--heading-margin);
	text-decoration-style: var(--heading-text-decoration-style);
	text-decoration-thickness: var(--heading-text-decoration-thickness);
	text-decoration-color: var(--heading-text-decoration-color);
	display: var(--heading-display);
}

.one2mp .one2mp-heading-prefix {
	display: none;
}
.one2mp .one2mp-heading-outbox {
	display: block;
}
.one2mp .one2mp-heading-leaf {
	display: block;
}
.one2mp .one2mp-heading-tail {
	display: none;
}
