:root {
  --footnote-color:  #a0a0a0;
  --footnote-hover-color: #666;
  --footnote-font-size: 12px;
  --hr-color: #ccc;
  --hr-height: 1px;
  --hr-margin: 1em 0;
}

.one2mp hr {
	border-bottom: var(--hr-height, 1px) solid var(--hr-color, #eaeaea);
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.one2mp .foot-links hr {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.one2mp .foot-links {
	font-size: var(--footnote-font-size, 12px);
	color: var(--footnote-color, #a0a0a0);
}

/* footnote */
.one2mp .footnote-id {
	color: var(--wechat-footnote-text-color, #999);
	margin-right: 0.5em;

}

.one2mp .footnote {
	font-size: 0.9em;
	font-weight: 300;
	margin-left: 0.5em;
}
