.one2mp .inline-math{
    display: inline-block;
    padding: 0 0.5rem;
}

.one2mp .block-math {
    display: flex;
    width: 100%;
    overflow: auto;
    padding: 0.5rem;
}

.one2mp .block-math svg {
    width: fit-content;
    margin: auto;
}
