/* summary */
.one2mp details {
	border: none;
	outline: none;
	/* border-left: 4px solid #3eaf7c; */
	padding-left: var(--wechat-collapse-padding, 1em);
	margin-left: var(--wechat-collapse-margin, 0);
	background-color: var(--wechat-collapse-bg-color, #f5f5f5);
}

.one2mp details summary {
	cursor: pointer;
	border: none;
	outline: none;
	margin: 0px -17px;
}

.one2mp details summary::-webkit-details-marker {
	color: var(--wechat-collapse-bg-color, #f5f5f5);
}
