.one2mp-mpcard-wrapper {
  margin: 20px 20px;
  background-color: rgb(250, 250, 250);
  padding: 10px 20px;
  border-radius: 10px;
}

.one2mp-mpcard-content {
  display: flex;
  align-items: center;
}

.one2mp-mpcard-headimg {
  border: none !important;
  border-radius: 27px !important;
  box-shadow: none !important;
  width: 54px !important;
  height: 54px !important;
  margin: 0 !important;
}

.one2mp-mpcard-info {
  margin-left: 10px;
}

.one2mp-mpcard-nickname {
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.one2mp-mpcard-signature {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
}

.one2mp-mpcard-foot {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ececec;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}
